<!-- <div class="match-table-container">
    <table id="matchData">
        <thead>
            <tr>
                <th>DATE</th>
                <th colspan="2">DOMICILE</th>
                <th class="score">SCORE</th>
                <th colspan="2">EXTERIEUR</th>
                <th>LIEU</th>
            </tr>
        </thead>
        <tbody id="details">
            <tr>
                <td class="row"> {{ match_date }}</td>
                <td class="row receveur"> {{ visitor_name }}</td>
                <td class="row"><img [src]="visitor_logo" class="logo_calendrier"></td>
                <td class="row score">{{ visitor_score }} - {{ receiver_score }}</td>
                <td class="row"><img [src]="receiver_logo" class="logo_calendrier"></td>
                <td class="row"> {{ receiver_name }}</td>
                <td class="row">{{ practice }}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="elementor-widget-wrap elementor-element-populated">
  <div
    class="elementor-element elementor-element-ba88085 elementor-widget elementor-widget-shortcode"
    data-id="ba88085"
    data-element_type="widget"
    data-widget_type="shortcode.default"
  >
    <div class="elementor-widget-container">
      <div class="elementor-shortcode">
        <table id="matchData">
          <thead class="table-header">
            <tr>
              <th>DATE</th>
              <th colspan="2">DOMICILE</th>
              <th class="score">SCORE</th>
              <th colspan="2">EXTERIEUR</th>
              <th>LIEU</th>
            </tr>
          </thead>
          <tbody id="details">
            <tr>
              <td class="row">05/10/2024 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">1 - 7</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/223/vj7ou7CnqCrXO8ENLfwehiqQucNRDLvqu6IGisVj.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Lions de Lyon</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">12/10/2024 - 19:00</td>
              <td class="row receveur">VAUJANY-GRENOBLE</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/380/LbAoXOy7cjCezb6jzjr6VyBsgtMnKomiZz9iD23P.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Vaujany - Patinoire du pôle sports et loisirs</td>
            </tr>
            <tr>
              <td class="row">19/10/2024 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/hjvOgWqyGNEjiZmCDbvWx73FYRKF0uB1q8OpnOTW.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Anglet 2</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">26/10/2024 - 19:30</td>
              <td class="row receveur">ROANNE</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/G62i2P7gySJkNjxyBrA2mzzxj7NZLlCb8sD4750i.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Roanne - Fontalon</td>
            </tr>
            <tr>
              <td class="row">02/11/2024 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/9wG9pObyfOr7IhWS2GXBZODJBmqD0z8KJVwX9O5j.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Chevaliers du Lac d'Annecy</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">09/11/2024 - 19:00</td>
              <td class="row receveur">MONTPELLIER</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/9fTTfEzmpYFv55kveC8kEe2jcQgww0EanwzFrqja.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Montpellier - Vegapolis</td>
            </tr>
            <tr>
              <td class="row">16/11/2024 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/Fd04LzSShvtzmlpLFJZwoWiPywSAJ1OPe6zYEEip.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">CLERMONT-FERRAND</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">23/11/2024 - 18:30</td>
              <td class="row receveur">HOGLY</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/470Q7VLLHMYRmOkSvslXDevM4Uam9P7RnLzYDHcf.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">La-Roche-sur-Yon - Arago</td>
            </tr>
            <tr>
              <td class="row">30/11/2024 - 20:30</td>
              <td class="row receveur">VALENCE</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/tv62tF03bjJqdwbNULJqofGiPAx19eKEqJ6tAAxX.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Valence - Le Polygone</td>
            </tr>
            <tr>
              <td class="row">07/12/2024 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/380/LbAoXOy7cjCezb6jzjr6VyBsgtMnKomiZz9iD23P.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Vaujany-Grenoble</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">14/12/2024 - 20:40</td>
              <td class="row receveur">ANGLET 2</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/hjvOgWqyGNEjiZmCDbvWx73FYRKF0uB1q8OpnOTW.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Anglet - La Barre</td>
            </tr>
            <tr>
              <td class="row">21/12/2024 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/G62i2P7gySJkNjxyBrA2mzzxj7NZLlCb8sD4750i.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Renards de Roanne</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">11/01/2025 - 20:30</td>
              <td class="row receveur">ANNECY</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/9wG9pObyfOr7IhWS2GXBZODJBmqD0z8KJVwX9O5j.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Annecy - Jean Régis</td>
            </tr>
            <tr>
              <td class="row">18/01/2025 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/9fTTfEzmpYFv55kveC8kEe2jcQgww0EanwzFrqja.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Vipers de Montpellier</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">25/01/2025 - 20:30</td>
              <td class="row receveur">CLERMONT-FERRAND</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/Fd04LzSShvtzmlpLFJZwoWiPywSAJ1OPe6zYEEip.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Clermont-Ferrand</td>
            </tr>
            <tr>
              <td class="row">01/02/2025 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/470Q7VLLHMYRmOkSvslXDevM4Uam9P7RnLzYDHcf.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">La Roche-sur-Yon</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">08/02/2025 - 19:30</td>
              <td class="row receveur">TOULOUSE-BLAGNAC</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/tv62tF03bjJqdwbNULJqofGiPAx19eKEqJ6tAAxX.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Lynx de Valence</td>
              <td class="row">Blagnac Toulouse - Jacques Raynaud</td>
            </tr>
            <tr>
              <td class="row">22/02/2025 - 19:30</td>
              <td class="row receveur">LYON</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/223/vj7ou7CnqCrXO8ENLfwehiqQucNRDLvqu6IGisVj.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row score">A venir</td>
              <td class="row">
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_calendrier"
                />
              </td>
              <td class="row">Bélougas de Toulouse-Blagnac</td>
              <td class="row">Lyon - Charlemagne</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
