<div class="elementor-widget-wrap elementor-element-populated">
  <div
    class="elementor-element elementor-element-25775e9 elementor-widget elementor-widget-shortcode"
    data-id="25775e9"
    data-element_type="widget"
    data-widget_type="shortcode.default"
  >
    <div class="elementor-widget-container">
      <div class="elementor-shortcode">
        <table id="classement">
          <thead>
            <tr>
              <th>CLASSEMENT</th>
              <th colspan="2">EQUIPE</th>
              <th>POINTS</th>
            </tr>
          </thead>
          <tbody id="detailsClass">
            <tr>
              <td>1</td>
              <td>VAUJANY-GRENOBLE</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/380/LbAoXOy7cjCezb6jzjr6VyBsgtMnKomiZz9iD23P.png"
                  class="logo_classement"
                  alt="VAUJANY-GRENOBLE logo"
                />
              </td>
              <td>6</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CLERMONT-FERRAND</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/Fd04LzSShvtzmlpLFJZwoWiPywSAJ1OPe6zYEEip.png"
                  class="logo_classement"
                  alt="CLERMONT-FERRAND logo"
                />
              </td>
              <td>3</td>
            </tr>
            <tr>
              <td>3</td>
              <td>LYON</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/223/vj7ou7CnqCrXO8ENLfwehiqQucNRDLvqu6IGisVj.png"
                  class="logo_classement"
                  alt="LYON logo"
                />
              </td>
              <td>3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>MONTPELLIER</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/9fTTfEzmpYFv55kveC8kEe2jcQgww0EanwzFrqja.png"
                  class="logo_classement"
                  alt="MONTPELLIER logo"
                />
              </td>
              <td>3</td>
            </tr>
            <tr>
              <td>5</td>
              <td>VALENCE</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/tv62tF03bjJqdwbNULJqofGiPAx19eKEqJ6tAAxX.png"
                  class="logo_classement"
                  alt="VALENCE logo"
                />
              </td>
              <td>3</td>
            </tr>
            <tr>
              <td>6</td>
              <td>HOGLY</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/470Q7VLLHMYRmOkSvslXDevM4Uam9P7RnLzYDHcf.png"
                  class="logo_classement"
                  alt="HOGLY logo"
                />
              </td>
              <td>0</td>
            </tr>
            <tr>
              <td>7</td>
              <td>ANNECY</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/9wG9pObyfOr7IhWS2GXBZODJBmqD0z8KJVwX9O5j.png"
                  class="logo_classement"
                  alt="ANNECY logo"
                />
              </td>
              <td>0</td>
            </tr>
            <tr>
              <td>8</td>
              <td>ROANNE</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/G62i2P7gySJkNjxyBrA2mzzxj7NZLlCb8sD4750i.png"
                  class="logo_classement"
                  alt="ROANNE logo"
                />
              </td>
              <td>0</td>
            </tr>
            <tr>
              <td>9</td>
              <td>TOULOUSE-BLAGNAC</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_equipes/208/PNJMT6hE7dHFvSezOCuXWqTpMnPWOmQzxHypqFWi.png"
                  class="logo_classement"
                  alt="TOULOUSE-BLAGNAC logo"
                />
              </td>
              <td>0</td>
            </tr>
            <tr>
              <td>10</td>
              <td>ANGLET 2</td>
              <td>
                <img
                  decoding="async"
                  src="https://hockeynet.fr/storage/logos_structures/hjvOgWqyGNEjiZmCDbvWx73FYRKF0uB1q8OpnOTW.png"
                  class="logo_classement"
                  alt="ANGLET 2 logo"
                />
              </td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
